@import "tailwindcss";

@theme {
    --font-sans: "TikTok Sans", "sans-serif";
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 24s linear infinite;
}
